<div class="container">
    <div class="contenedor">
        <h1 class="title">
            PRODUCTOS SIMILARES
        </h1>
        <div class="rowproducts">
            <div class="producto">
                <div class="imagen">
                    <img src="../../assets/images/Imagen 57.png" alt="">
                </div>
                <div class="descriptionproduct">
                    <span class="priceoldmore">$1.740</span>
                    <div>
                        <span class="pricenewmore">$1234.00</span>
                        <span class="dsctomore">40% DTO.</span>
                    </div>
                    <span class="descmore">Refrigeradora Samsung Top asda Freezer Con Twin Cooling</span>
                    <span class="deliverymore">Envío Gratis</span>
                </div>
            </div>
            <div class="producto">
                <div class="imagen">
                    <img src="../../assets/images/Imagen 57.png" alt="">
                </div>
                <div class="descriptionproduct">
                    <span class="priceoldmore">$1.740</span>
                    <div>
                        <span class="pricenewmore">$1234.00</span>
                        <span class="dsctomore">40% DTO.</span>
                    </div>
                    <span class="descmore">Refrigeradora Samsung Top asda Freezer Con Twin Cooling</span>
                    <span class="deliverymore">Envío Gratis</span>
                </div>
            </div>
            <div class="producto">
                <div class="imagen">
                    <img src="../../assets/images/Imagen 57.png" alt="">
                </div>
                <div class="descriptionproduct">
                    <span class="priceoldmore">$1.740</span>
                    <div>
                        <span class="pricenewmore">$1234.00</span>
                        <span class="dsctomore">40% DTO.</span>
                    </div>
                    <span class="descmore">Refrigeradora Samsung Top asda Freezer Con Twin Cooling</span>
                    <span class="deliverymore">Envío Gratis</span>
                </div>
            </div>
            <div class="producto">
                <div class="imagen">
                    <img src="../../assets/images/Imagen 57.png" alt="">
                </div>
                <div class="descriptionproduct">
                    <span class="priceoldmore">$1.740</span>
                    <div>
                        <span class="pricenewmore">$1234.00</span>
                        <span class="dsctomore">40% DTO.</span>
                    </div>
                    <span class="descmore">Refrigeradora Samsung Top asda Freezer Con Twin Cooling</span>
                    <span class="deliverymore">Envío Gratis</span>
                </div>
            </div>
            <div class="producto">
                <div class="imagen">
                    <img src="../../assets/images/Imagen 57.png" alt="">
                </div>
                <div class="descriptionproduct">
                    <span class="priceoldmore">$1.740</span>
                    <div>
                        <span class="pricenewmore">$1234.00</span>
                        <span class="dsctomore">40% DTO.</span>
                    </div>
                    <span class="descmore">Refrigeradora Samsung Top asda Freezer Con Twin Cooling</span>
                    <span class="deliverymore">Envío Gratis</span>
                </div>
            </div>
        </div>
    </div>
</div>