<div class="container">
    <div class="contenedor">
        <div class="promotors">
            <div class="prom">
                <img src="../../assets/images/mastercard.svg" alt="">
                <span>Visa</span>
            </div>
            <div class="prom">
                <img src="../../assets/images/mastercard.svg" alt="">
                <span>Mastercard</span>
            </div>
            <div class="prom">
                <img src="../../assets/images/Grupo 1815.png" alt="">
                <span>Pagosnet</span>
            </div>
            <div class="prom">
                <img src="../../assets/images/Grupo 1814.png" alt="">
                <span>Redenlace</span>
            </div>
        </div>
        <div class="links">
            <ul class="listlinks">
                <span class="footerlinks">ACERCA DE BROOKLYN</span>
                <li class="footerlinks">Términos y Condiciones</li>
                <li class="footerlinks">Ayuda</li>
                <li class="footerlinks">Vende con Brooklyn</li>
                <li class="footerlinks">Inicia tu sesión</li>
            </ul>
            <ul class="listlinks">
                <span class="footerlinks">SERVICIO AL CLIENTE</span>
                <li class="footerlinks">Aviso de Privacidad</li>
                <li class="footerlinks">Contacto</li>
                <li class="footerlinks">Formas de Pago</li>
                <li class="footerlinks">Política de Cookies</li>
            </ul>
            <ul class="listlinks">
                <span class="footerlinks">NOVEDADES</span>
                <li class="footerlinks">Brooklyn Envíos</li>
                <li class="footerlinks">Categorías Nuevas</li>
            </ul>
            <div class="sociallist">
                <div class="social">
                    <span class="footerlinks">
                        SÍGUENOS
                    </span>
                    <img src="../../assets/images/facebook.svg" alt="">
                    <img src="../../assets/images/ig.svg" alt="">
                </div>
                <div class="download">
                    <img src="../../assets/images/google-play-es.png" alt="">
                    <img src="../../assets/images/download_appstore_es.png" alt="">
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>© 2021 Brooklyn | Todos los derechos reservados.</span>
        </div>
    </div>
</div>