<div class="container">
    <div class="contenedor">
        <div class="categories">
            <img src="../../assets/images/cats.svg" alt="">
            <!-- <label for="selectcat">Todas las categorías</label> -->
            <div class="selector">
                <select name="" id="selectcat">
                    <option value="0">todas las categorias</option>
                    <option value="0">Categoría 1</option>
                    <option value="1">Categoría 1</option>
                    <option value="2">Categoría 1</option>
                    <option value="3">Categoría 1</option>
                    <option value="4">Categoría 1</option>
                    <option value="5">Categoría 1</option>
                    <option value="6">Categoría 1</option>
                    <option value="7">Categoría 1</option>
                    <option value="8">Categoría 1</option>
                    <option value="9">Categoría 1</option>
                    <option value="10">Categoría 1</option>
                    <option value="11">Categoría 1</option>
                </select>
            </div>
        </div>
        <div class="komenu">
            <div class="election">
                <img src="../../assets/images/favs.svg" alt="">
                <span>Cupones</span>
            </div>
            <div  class="election">
                <img src="../../assets/images/sale.svg" alt="">
                <span>Ofertas</span>
            </div>
            <div  class="election">
                <img src="../../assets/images/tag.svg" alt="">
                <span>Vender</span>
            </div>
            <div  class="election">
                <img src="../../assets/images/store.svg" alt="">
                <span>Tiendas Oficiales</span>
            </div>
            <div  class="election">
                <img src="../../assets/images/favs.svg" alt="">
                <span>Favoritos</span>
            </div>
            <div  class="election">
                <img src="../../assets/images/history.svg" alt="">
                <span>Historial</span>
            </div>
        </div>
    </div>
</div>