<div class="container">
    <div class="contenedor">
        <div class="product">
            <span class="route">Brooklyn > Computación > Laptops > Laptop WiFi CX61 2QF 15.6″ 4210M Con Twin Cooling Plus</span>
            <div class="imagenes">
                <div class="miniaturas">
                    <div class="miniatura">
                        <img src="../../assets/images/laptop.png" alt="">
                    </div>
                    <div class="miniatura">
                        <img src="../../assets/images/laptop.png" alt="">
                    </div>
                    <div class="miniatura">
                        <img src="../../assets/images/laptop.png" alt="">
                    </div>
                    <div class="miniatura">
                        <img src="../../assets/images/laptop.png" alt="">
                    </div>
                    <div class="miniatura">
                        <img src="../../assets/images/laptop.png" alt="">
                    </div>
                    <div class="miniatura">
                        <img src="../../assets/images/laptop.png" alt="">
                    </div>
                    <div class="miniatura">
                        <img src="../../assets/images/laptop.png" alt="">
                    </div>
                    <div class="miniatura">
                        <img src="../../assets/images/laptop.png" alt="">
                    </div>
                </div>
                <div class="miniaturaprincipal">
                    <img class="imgprincipal" src="../../assets/images/laptop.png" alt="">
                </div>
            </div>
            <div class="features">
                <h1 class="title">CARACTERÍSTICAS DEL PRODUCTO</h1>
                <table class="featuretable">
                    <tbody>
                        <tr>
                            <td>Característica 1</td>
                            <td>Invicta</td>
                        </tr>
                        <tr>
                            <td>Característica 2</td>
                            <td>21840</td>
                        </tr>
                        <tr>
                            <td>Característica 3</td>
                            <td>Hombre</td>
                        </tr>
                        <tr>
                            <td>Característica 4</td>
                            <td>Acero inoxidable</td>
                        </tr>
                        <tr>
                            <td>Característica 5</td>
                            <td>Hombre</td>
                        </tr>
                    </tbody>
                </table>
                <div class="info">
                    <span class="masinfo">Ver todas las características</span> <span class="masinfo" style="font-family: 'arial'; margin-left: 2%;">v</span>
                </div>
            </div>
            <div class="description">
                <h1 class="title">DESCRIPCIÓN</h1>
                <p class="text">Somos SELECT STORE PERU,</p>
                <p class="text">Google lanza una renovación de su altavoz inteligente más básico y asequible.</p>
                <p class="text">Solo que ahora ya no se llama Home Mini, sino Google Nest Mini, y además suena mejor que el anterior. Una gran ayuda sin usar las manos, es un altavoz inteligente con el Asistente de Google integrado, que te ayudará cada vez que lo necesites.</p>
                <p class="text">Recibe respuestas de Google. Si quieres ver información actualizada sobre meteorología, tráfico, deportes, finanzas y mucho más,
                    solo tienes que decirlo.</p>
                <p class="text">Planifica tu día. Obtén ayuda personalizada para organizar tu agenda, recordatorios, noticias y mucho más. Aplicaciones para el trabajo, para casa y para jugar. Descubre formas de aumentar tu productividad y de divertirte más, solo con pedirlo. Modelo Nest Mini Especificaciones Peso 181 gr Medidas 98 mm (altura) x 42 mm (diámetro) Tipo Parlante Inteligente Material Material Parte superior: tejido resistente fabricado con plástico 100% reciclado de botellas Carcasa: fabricada con al menos un 35% de plástico reciclado Conexión Bluetooth Sí</p>
                <div class="info">
                    <span class="masinfo">Ver más descripción</span> <span class="masinfo" style="font-family: 'arial'; margin-left: 2%;">v</span>
                </div>
            </div>
        </div>
        <div class="specification">
            <div class="produtprice"> 
                <span class="stock">Nuevo | 30 ventas</span>
                <h1>Laptop WiFi CX61 2QF 15.6″ 4210M Con Twin Cooling Plus</h1>
                <div class="by">
                    <span class="smalltext">Por</span>
                    <span class="store">Sony - Tienda Oficial</span>
                </div>
                <div class="calificationfav">
                    <div class="calification">
                        <img src="../../assets/images/star.svg" alt="">
                        <img src="../../assets/images/star.svg" alt="">
                        <img src="../../assets/images/star.svg" alt="">
                        <img src="../../assets/images/star.svg" alt="">
                        <img src="../../assets/images/star.svg" alt="">
                        <span>(3 calificaciones)</span>
                    </div>
                    <div class="fav">
                        <img src="../../assets/images/favs.svg" alt="">
                        <span>Favoritos</span>
                    </div>
                </div>
                <span class="priceold">$2,699</span> <br>
                <div class="price">
                    <span class="pricenew">$2,399.00</span>
                    <span class="dscto">40% dto</span>
                </div>
                <span class="smalltext">Stock: 4 disponibles</span>
                <div class="points">
                    <img src="../../assets/images/Bpoints.svg" alt="">
                    <div class="bpoints">
                        <span style="color: #FF342E;">Brooklyn Puntos</span> <br>
                        <span class="pointsnum">Gana <span style="color: #FF342E;">490 puntos</span> por comprar este producto</span>
                    </div>
                </div>
                <div class="points">
                    <img src="../../assets/images/carr.svg" alt="">
                    <div class="bpoints">
                        <span style="color: #0089D0;">Envío Gratis</span> <br>
                        <span style="color: #0089D0; text-decoration: underline" class="pointsnum">Ver formas de entrega</span>
                    </div>
                </div>
                <span class="smalltext" style="color: #000000;">Opciones de compra:</span>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>