<div class="container">
    <div class="contenedor">
        <div class="imglogo">
            <img src="../../assets/images/logo.svg" alt="">
        </div>
        <div class="search">
            <div class="lupa"></div>
            <input type="text" placeholder="Buscar productos en venta">
        </div>
        <div class="location">
            <img src="../../assets/images/location.svg" alt="">
            <div class="locationdiv">
                <span class="spanheader">
                    Selecciona
                </span>
                <select name="" id="">
                    <option value="0">Tu ubicación</option>
                </select>
            </div>
        </div>
        <div class="account">
            <img src="../../assets/images/account.svg" alt="">
            <div class="accountdiv">
                <span class="spanheader">
                    Hola, ingresa ahora
                </span>
                <select name="" id="">
                    <option value="0">Mi cuenta y pedidos</option>
                </select>
            </div>
        </div>
        <div class="notifications">
            <div class="bell">
                <span class="numnots">4</span>
                <img src="../../assets/images/bell.svg" alt="">
            </div>
            <div class="car">
                <span class="numnots">3</span>
                <img src="../../assets/images/car.svg" alt="">
            </div>
        </div>
    </div>
</div>